<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GeocodeAndReverse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFFE2BDC1CE9B3C700CE7831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFFE2BF51CE9B3C700CE7831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFFE2C001CE9B3C700CE7831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
